//变量
@main-color:#333;
@main-bg-color:#eee;
@border-color:#666;

//混入
.flexBox {
  display: flex;
}
.positionCenter() {
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}
//函数
.flexBoxFunc(@xAxis:center; @yAxis:center) {
  .flexBox();
  justify-content: @xAxis;
  align-items: @yAxis;
}



